<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        script-src 'self';
        img-src 'self' http://ssl.gstatic.com data:;
        style-src 'self' 'unsafe-inline';
    ">
    <!-- Internal game scripts/styles -->
    <script src="/static/game-frame.js"></script>
    <link rel="stylesheet" href="/static/game-frame-styles.css" />
    <script src="/static/post-store.js"></script>
    <script src="/static/main.js"></script> <!-- Externalized JavaScript -->
  </head>
  <body id="level2">
    <div id="header">
      <img src="/static/logos/level2.png" /> 
      <div>Chatter from across the Web.</div>
      <form action="?" id="clear-form">
        <input class="clear" type="submit" value="Clear all posts">
      </form>
    </div>
    <div id="post-container"></div>
    <table class="message">
      <tr>
        <td valign="top">
          <img src="/static/level2_icon.png">
        </td>
        <td class="message-container">
          <div class="shim"></div>
          <form action="?" id="post-form">
            <textarea id="post-content" name="content" rows="2" cols="50"></textarea>
            <input class="share" type="submit" value="Share status!">
            <input type="hidden" name="action" value="sign">
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
