<!doctype html>
<html>
  <head>
    <script src="{{ url_for('static', filename='game-frame.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game-frame-styles.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </head>
  <body id="level3">
    <div id="header">
      <img id="logo" src="{{ url_for('static', filename='logos/level3.png') }}">
      <span>Take a tour of our cloud data center.</span>
    </div>
 
    <div class="tab" id="tab1">Image 1</div>
    <div class="tab" id="tab2">Image 2</div>
    <div class="tab" id="tab3">Image 3</div>

    <div id="tabContent"> </div>
  </body>
</html>

